.marker.marker-diff-view {
  z-index: 12;

  &.added {
    background-color: var(--diff-view-added-color, var(--syntax-color-added));
  }

  &.removed {
    background-color: var(--diff-view-removed-color, var(--syntax-color-removed));
  }
}
